<h1>Dashboard</h1>

<h2>
  Country
</h2>

<h2>
  Summary
</h2>
<div class="card-deck">
  <div class="card">
    <h3>Revenue</h3>
    <p id="revenue"></p>
  </div>
  <div class="card">
    <h3>AVG Revenue/Order</h3>
    <p id="avg-revenue"></p>
  </div>
  <div class="card">
    <h3>Customers</h3>
    <p id="customers-count"></p>
  </div>
</div>

<h2>
  Revenue per month
</h2>
<div id="graph-revenue-per-month">
</div>
