<h1>Dashboard</h1>

<h2>
  Country
</h2>
<%= select_tag :countries, options_for_select(@countries), prompt: "ALL" %>

<h2>
  Summary
</h2>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h3>
        <div>Revenue</div>
        <div id="revenue">
          <%= number_to_human @revenue, units: { billion: 'B', million: 'M', thousand: 'K'} %> €
        </div>
      </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>
        <div>AVG Revenue/Order</div>
        <div id="avg-revenue">
          <%= number_to_human @avg_rev, precision: 2, units: { million: 'M', thousand: 'K'} %> €
        </div>
      </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>
        <div>Customers</div>
        <div id="customers-count">
          <%= number_to_human @customers_count, precision: 2, units: { million: 'M', thousand: 'K'} %>
        </div>
      </h3>
    </div>
  </div>
</div>

<h2>
  Revenue per month
</h2>
<div id="graph-revenue-per-month">
</div>
